.banner {
    padding-top: $header-height;
    min-height: 100vh;
}

.innovate {
    min-height: calc(100vh - $header-height);
    @include row-center-center;
    background: #41ff03;
}

section {
    position: relative;
    min-height: 100vh;
    padding-top: calc($header-height);
}