@mixin card-img {
    display: flex;
    align-self: center;
    max-height: 200px;
}

.card {
    display: flex;
    flex-direction: column;
    padding-top: $space-3;
    padding-bottom: $space-3;
    padding-left: $space-3;
    padding-right: $space-3;

    .card-img {
        @include card-img();
    }

    @each $key, $value in $width {
        .card-img-#{$key} {
            @include card-img();
            width: $value;
        }
    }

    .card-img-full {
        @include card-img();
        width: calc(100% + $space-3 * 2);
        img {
            margin-top: -$space-3;
            // margin-right: -$space-3;
            // margin-left: -$space-3;
        }
    }

    .card-title-effect {
        text-align: center;
        color: $primary;
        font-size: 1.7em;

        @include media-up (md) {
            font-size: 1em;
            margin-bottom: 0;
        }
    }

    &.card-primary {
        background-color: var(--box);
    }
    
    @each $key, $value in $theme-colors {
        &.card-border-#{$key} {
            border-width: 2px;
            border-color: $value;
            border-style: solid;
        }
    }

    @include media-up (md) {
        padding-left: $space-3 !important;
        padding-right: $space-3 !important;
    }
}