
@import "./global/variables";
@import "./global/function";
@import "./global/media";
@import "./global/initialize";

@import "./global/grid";
@import "./global/text";

@import "./global/input";
@import "./global/button";
@import "./global/card";
@import "./global/slidebar";

@import "./layout";

@import "./global/components";
@import "./pages/home.scss";
@import "./pages/landing.scss";